.pokemonCard{
    width:40rem;
    height:50rem;
    box-shadow: 0 0 2rem rgba(0,0,0,0.2);
    border-radius: 1rem;
    padding:2rem;
}


.pokemonCard__header{
    height:20%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.pokemonCard__title{
    font-size: 200%;
    font-weight: 400;
}

.pokemonCard__labelWrapper{
    display:flex; 
    gap:0.5rem;
}
.pokemonCard__type{
    font-size: 70%;
    padding:0.3rem;
    border-radius: 2rem;
    width: 8rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #eee;
}

.pokemonCard__type--Water{
    background: #5CB8E4;
}

.pokemonCard__type--Ground{
    background: #533535;
}

.pokemonCard__type--Poison{
    background: #753188;
}

.pokemonCard__type--Ghost{
    background: #16003B;
}

.pokemonCard__type--Fire{
    background: #D9534F;
}

.pokemonCard__type--Grass{
    background: #6EBF8B;
}

.pokemonCard__type--Rock{
    background: #CDB699;
}
.pokemonCard__section{
    height: 70%;
}

.pokemonCard__figure{
    height:80%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.pokemonCard__img{
    height:100%;
    width:100%;
    object-fit: contain;
}

.pokemonCard__h3Wrapper{
    height: 20%;
    display:flex;
    align-items: center;
}

.pokemonCard__HP{
    font-weight: 400;
    font-size: 90%;
}

.pokemonCard__footer{
    height:10%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap:2rem;
}

.pokemonCard__button{
    border:none;
    background:none;
    font-size:100%;
    padding:0.5rem 4rem;
    border-radius:0.5rem;
    color: #eee;
    flex-grow: 1;
    font-family: 'Open sans', sans-serif;
}

.pokemonCard__button--attack{
    background: #B8405E;
}

.pokemonCard__button--catch{
    background: #2EB086;
}

@media screen and (max-width: 62.5rem) {
    .pokemonCard{
        width:100%;
    }
}